.profile {
  padding-top: 40px;
  max-width: 68.7%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .profile {
    flex-direction: column;
    padding-top: 38.25px;
    padding-bottom: 36px;
    max-width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    max-width: 90%;
  }
}
