.header__auth-email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    text-align: right;
    align-self: center;
    color: #FFFFFF;
  }